.calculatorMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display {
    width: 200px;
    padding: 20px 25px;
    border: 2px solid #222;
    text-align: right;
    font-size: 1.5rem;
    background-color: #433337;
    color: white;
    border: 2px solid lightcoral;
}