.buttonsMain {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 2px solid lightcoral;
}
.buttonsMain .buttonsFlex {
    display: flex;
}
.top {
    min-width: 220px;
}
#clear {
    font-size: 1.5rem;
    padding: 15px 64px;

    transition: all .1s;
}
#clear:hover {
    background-color: #FDF9F3;
}
.calculations {
    width: 70px;
    font-size: 1.3rem;
    padding: 15px 20px;
    background-color: #F2274F;
    color: white;

    transition: all .1s;
}
.calculations:hover {
    background-color: #F33B61;
}
.numbers {
    width: 60px;
    padding: 5px 20px;
    font-size: 1.5rem;

    transition: all .1s;
}
.numbers:hover {
    background-color: #FDF9F3;
}
.zero {
    width: 120px;
}
button {
    border-color: lightcoral;
    cursor: pointer;
}
button:focus {
    outline: none;
}